<!DOCTYPE html>
<html ng-app="planurDay">
<head lang="en">
    <meta charset="UTF-8">
    <title>Todo</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
</head>

<body ng-controller="planurDay">

<div class="container">
    <div class="row" ng-show="set_newtask">
        <div class="input-group input-group-sm col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 5px">
            <input ng-model="task_details" type="text" class="form-control"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="save_newtask()">Go!</button>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="list-group">
            <a href="#" class="list-group-item active" ng-repeat="cur_task in task_list track by $index"
               style="margin-top: 5px" ng-click="on_listen(cur_task)">
                <h4 class="list-group-item-heading">
                    <span ng-show="cur_task.isRunning()===false" class="glyphicon glyphicon-play-circle"
                          style="top: 3px"></span>
                    <span ng-show="cur_task.isRunning()" class="glyphicon glyphicon-record" style="top: 3px"></span>
                    {{cur_task.getName()}}
                </h4>

                <p class="list-group-item-text">{{cur_task.getTotalDuration()}} hours
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar"
                         aria-valuenow="{{cur_task.getComplete() | number:2}}" aria-valuemin="0"
                         aria-valuemax="100" style="width: {{cur_task.getComplete() | number: 2}}%">
                        <span>{{ cur_task.getComplete() | number:2 }}% Complete</span>
                    </div>
                </div>
                </p>
            </a>
        </div>
    </div>
</div>


<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/momentjs/min/moment.min.js"></script>
<script src="/underscore/underscore.js"></script>
<script src="/async/lib/async.js"></script>


<script src="/angular/angular.min.js"></script>
<script src="app.js"></script>

</body>
</html>